<div>
    <h2>New Product</h2>
       <table>
       	  <tr><td>ShortName : </td><td><input type='text' ng-model='newProduct.shortname'/></td></tr>
          <tr><td>ID : </td><td><input type='text' ng-model='newProduct.id'/></td></tr>
          <tr><td>Brand : </td><td><input type='text' ng-model='newProduct.brand'/></td></tr>
          <tr><td>Price : </td><td><input type='text' ng-model='newProduct.price'/></td></tr>
          <tr><td>Description : </td><td><input type='text' ng-model='newProduct.description'/></td></tr>
          <tr></tr>
          <tr><td></td><td><button ng-click='addProduct()'>Add</button></td></tr>
       </table>
</div>


